<mat-form-field>
	<input matInput placeholder="Fps" [value]="status?.fps" [disabled]="true">
</mat-form-field>
<mat-form-field>
	<input matInput placeholder="QueueSize" [value]="status?.queueSize" [disabled]="true">
</mat-form-field>
<mat-form-field>
	<input matInput placeholder="Position (mm)" [value]="status?.position" [disabled]="true">
</mat-form-field>
<mat-form-field>
	<input matInput placeholder="Pression (mBar)" [value]="status?.pression" [disabled]="true">
</mat-form-field>
<mat-form-field>
	<input matInput placeholder="Weight (gr)" [value]="status?.weight" [disabled]="true">
</mat-form-field>
